<ion-content no-padding>
  <img [src]="cameraData" *ngIf="pictureTaken">
  <ion-fab bottom center round *ngIf="!pictureTaken">
    <button ion-fab (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom left round *ngIf="pictureTaken">
    <button ion-fab color="danger" (click)="deletePicture()"><ion-icon name="trash"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom right round *ngIf="pictureTaken">
    <button ion-fab color="secondary" (click)="savePicture()"><ion-icon name="photos"></ion-icon></button>
  </ion-fab>
</ion-content>
