<ion-header *ngIf="optionsOpen">
  <ion-toolbar transparent>
    <ion-title>
      <ion-range [(ngModel)]="opacity" color="light" min="0" max="100" step="1" snaps="1" value="0">
        <ion-label color="light" range-left>{{ opacity || 0}}</ion-label>
        <ion-label color="light" range-right>100</ion-label>
      </ion-range>
    </ion-title>
    <ion-buttons right>
      <button ion-button color="light" (click)="switchCamera()" *ngIf="!pictureTaken"><ion-icon style="font-size: 30px;" [name]="frontFacing ? 'happy' : 'people'"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  
  <!-- VISIBLE WHEN PREVIEW RUNNING '!pictureTaken' -->

  <!-- OPTIONS TOGGLE -->
  <ion-fab bottom right round padding *ngIf="!pictureTaken">
    <button ion-fab [color]="optionsOpen ? 'clear' : 'light'" (click)="toggleOptions()"><ion-icon name="options"></ion-icon></button>
  </ion-fab>
  
  <!-- CAMERA FUNCTION BUTTON -->
  <ion-fab bottom center round padding-bottom *ngIf="!pictureTaken">
    <button ion-fab color="dark" (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>



  <!-- VISIBLE WHEN IMAGE PREVIEW 'PictureTaken' -->

  <!-- DELETE BUTTON -->
  <ion-fab top left round no-padding *ngIf="pictureTaken">
    <button ion-fab color="clear" style="box-shadow: none;" (click)="deletePicture()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>
  
  <!-- IMAGE PREVIEW -->
  <img id="camera" *ngIf="pictureTaken">

  <!-- SAVE PICTURE BUTTON -->
  <ion-fab bottom center round padding-bottom *ngIf="pictureTaken">
    <button ion-fab color="dark" (click)="showSaveModal()"><ion-icon name="download"></ion-icon></button>
  </ion-fab>

</ion-content>
